{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.less' %}">
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

<script>
    (function() {
        try {
            let url = location.href.match('#(.*)')[1];
            localStorage.setItem("check", url);
        } catch (e) {
            let check = localStorage.getItem("check");
        }

        if(location.href.match('specific')){
            let check = localStorage.getItem("check");
            console.log(check);
            document.getElementById(check).style.display = "block";
        }
    })();
</script>