{% extends 'blog/base.html' %}
    {% block content %}
        {% if user.is_authenticated %}
            {% if post %}
            <div class="list">
                <div class="item">
                   <div class="label">
                        Сотрудник:
                   </div> 
                    {{ post.surname }} {{ post.name }}</div>
                <div class="item">
                    <div class="label">Laptops</div>
                    {% for notebook in notebooks %}
                        {% if notebook.owner == post %}
                            {{ notebook }} <br> 
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="label">Printers</div>
                    {% for printer in printers %}
                        {% if printer.owner == post %}
                            {{ printer.name }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            
            {% endif %}
        {% else %}
            <a href="/accounts/login/">Login</a>
        {% endif %}
    {% endblock %}